@font-face {
    font-family: 'Lausanne-bold';
    src: url('../fonts/Lausanne-400.woff2') format('woff2'),
        url('Lausanne-400.woff') format('woff'),
        url('Lausanne-400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    text-rendering: geometricPrecision;
    font-display: swap;
}

@font-face {
    font-family: 'Lausanne-regular';
    src: url('../fonts/Lausanne-Regular.woff2') format('woff2'),
        url('Lausanne-Regular.woff') format('woff'),
        url('Lausanne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    text-rendering: geometricPrecision;
    font-display: swap;
}

:root {
    --text-lg: 119px;
    --text-lg-lh: 136px;

    --text-md: 52px;
    --text-md-lh: 60px;

    --text-mds: 36px;
    --text-mds-lh: 40px;

    --text-sm: 23px;
    --text-sm-lh: 32px;

    --m-xss: 8px;
    --m-ss: 16px;
    --m-sm: 36px;
    --m-md: 78px;
    --m-lg: 160px;
    --m-xl: 160px;
    --m-xxl: 220px;

    --dark-black: #181818;
    --white: #FAFAFA;
    --grey: #818181;
    --purple: #9B88E3;

    --t-slow: 0.7s;
}

@media (max-width: 768px) {
    :root {
        --text-lg: 59px;
        --text-lg-lh: 68px;

        --text-md: 29px;
        --text-md-lh: 36px;

        --text-mds: 26px;
        --text-mds-lh: 32px;

        --text-sm: 18px;
        --text-sm-lh: 24px;

        --m-xss: 4px;
        --m-ss: 8px;
        --m-sm: 28px;
        --m-md: 32px;
        --m-lg: 52px;
        --m-xl: 52px;
        --m-xxl: 96px;
    }
}

/* #### subtitle , Helvetica, Arial, sans-serif #### */

h1.title1,
h2.title2,
p.text1,
p.text2,
p.text3,
p.body,
h2.menu-a,
p.text3 {
    margin: 0;
    padding: 0;
    letter-spacing: -0.02em;
    line-height: 110%;
    font-family: 'Lausanne-regular', Helvetica, Arial, sans-serif;
    font-weight: 400;

    ;

}

h1.title1,
p.text1,
h2.title2,
h2.menu-a,
p.text2.bold {
    font-family: 'Lausanne-bold', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1.title1 {
    font-size: var(--text-lg);
    margin-bottom: var(--m-xss);
    line-height: var(--text-lg-lh);
    letter-spacing: -0.03em;

}

h1.title1.main {
    margin-bottom: var(--m-sm);
}


/* #### subtitle #### */
p.text1,
p.text3,
h2.title2 {
    font-size: var(--text-md);
    line-height: var(--text-md-lh);
    letter-spacing: -0.02em;
    margin-bottom: var(--m-sm);
}

/* #### subtitle #### */


p.no-m-top {
    margin-top: 0;
}

p.no-m-bottom {
    margin-bottom: 0;
}


p.text2,
h2.menu-a, ul li {
    font-size: var(--text-sm);
    line-height: var(--text-sm-lh);
    margin-bottom: var(--m-sm);
    letter-spacing: -0.0em;
}

ul li ul li {
    margin-bottom: var(--m-ss);
    list-style-type: disc;  
    margin-left: 0;
    padding-left: 0;
}

ul {
    margin-left: 10px;
    padding: 0
}


h2.menu-a.active {
    text-decoration: underline;
}

p.text2.white,
h2.menu-a.white a {
    color: var(--white);
}

p.text2 a {
    color: var(--purple);
}

p.text3 {
    font-size: var(--text-mds);
    line-height: var(--text-mds-lh);
    letter-spacing: -0.0em;
    opacity: 0.65;
    transition: var(--t-slow);

}

a.p-link:hover p.text3 {
    opacity: 1;
    transition: var(--t-slow);
}

a.p-link:hover .shadow-hover,
a.p-link:hover div.shadow-hover {
    box-shadow: 0px 0px 100px rgba(3, 3, 3, 0.2);
    box-shadow: 0px 0px 70px rgba(1, 1, 1, 0.4);
    box-shadow: 0px 0px 60px rgba(1, 1, 1, 0.3);
    transition: var(--t-slow);
    opacity: 1;

}

a.p-link .shadow-hover {
    opacity: 0.6;
    transition: var(--t-slow);
}

p.text3.cat {
    margin-bottom: var(--m-xss);
    margin-top: var(--m-sm);
    color: var(--grey);
    font-size: var(--text-sm);

}

p.text3.desc {
    margin-bottom: 0;
    margin-top: 0;
    color: var(--white);
    text-rendering: geometricPrecision;

}

p.text2.last {
    margin-bottom: 0;
}


a {
    text-decoration: none;
    color: var(--dark-black);
}

.shadow-vid {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}


/* #### SVG #### */
.arrow-fw {
    width: 3rem;
    margin-top: -0.5rem;
    opacity: 0.0;
}

.link-arrow {
    width: 20px;
    margin-left: var(--m-xss)
}

iframe:hover .arrow-fw {
    opacity: 1;
}

a.p-link:hover .arrow-fw {
    opacity: 1;
    transition: var(--t-slow);
}

a.p-link:hover .arrow-fw.inactive {
    opacity: 0.1;
}

.back-arrow {
    width: 11px;
    margin-right: 0.5rem;
    margin-top: -2px;
    text-shadow: 0px 1px 40px rgba(255, 255, 255, 0.85);
}

h2.menu-a {
    margin: 0;
    line-height: 100%;
    padding: 0;
    padding-top: var(--m-ss);
    text-shadow: 0px 1px 40px rgba(255, 255, 255, 0.35);

}

.menu-a a:hover img.back-arrow {
    opacity: 0.2;
    transition: var(--t-slow);
}

.menu-a a:hover {
    color: var(--purple);
    transition: var(--t-slow);
}

.fixed-top {
    z-index: 2;
}

/* #### MARGIN #### */

h2.no-m-bottom {
    margin-bottom: 0;
}


div.p-margin {
    padding-bottom: var(--m-xl) !important;
}

div.top-border {
    border-top: solid 0.1rem;
    border-color: black;
    padding-top: var(--m-ss);
}

div.m-top-lg,
m-top-lg {
    margin-top: var(--m-lg);
}

div.m-top-xl,
m-top-xl {
    margin-top: var(--m-xl);
}

div.m-bottom-xl,
m-bottom-xl {
    margin-bottom: var(--m-xl);
}

div.m-top-xxl,
m-top-xxl {
    margin-top: var(--m-xxl);
}

div.m-bottom-xxl,
m-bottom-xxl {
    margin-bottom: var(--m-xxl);
}

.m-top-md {
    margin-top: var(--m-md);
}

div.m-bottom-md {
    margin-bottom: var(--m-md);
}

div.m-bottom-sm {
    margin-bottom: var(--m-sm);
}

.m-top-sm {
    margin-top: var(--m-sm);
}

.m-top-ss {
    margin-top: var(--m-ss);
}

.m-top-xss {
    margin-top: var(--m-xss);
}

.img-fluid.body {
    margin-bottom: var(--m-sm);
}

/* #### bg home #### */

.snap-scroll {
    position: relative;
    height: 95vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 90.5vh;
    scroll-snap-align: center;
    z-index: 1;
}

.child {
    position: absolute;
    left: 1px;
    bottom: 1px;
    text-align: left;
}

video.video-reset {
    margin: 0;
    padding: 0;
}

div.bg,
body.bg {
    background-color: var(--dark-black);
}


#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
}

#blur-home {
    width: 50%;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    background-color: rgba(0, 0, 0, 0.3);
}


.vimeo-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    pointer-events: none;
    overflow: hidden;
}

.vimeo-wrapper iframe {
    width: 100vw;
    height: 56.25vw;
    /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh;
    /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    ;
}

iframe {
    margin: 0;
}

iframe.video-youtube {
    aspect-ratio: 16 / 9;
    width: 100%;
}

/* #### everything from 960 until 3800 #### */

@media (max-width: 3800px) {
    html {
        font-size: 16px;
    }
}


/* #### everything from until 1800 #### */

@media (max-width: 1800px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 16px;
    }
}

/* #### everything from until 1200 #### */

@media (max-width: 1000px) {
    #blur-home {
        width: 100%;
    }
}

/* #### everything from 960 until 0 #### */

@media (max-width: 768px) {}