@font-face {
    font-family: 'Suisse Int\'l';
    src: url('/SuisseIntl-Book.woff2') format('woff2'),
        url('SuisseIntl-Book.woff') format('woff'),
        url('SuisseIntl-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l';
    src: url('SuisseIntl-Bold.woff2') format('woff2'),
        url('SuisseIntl-Bold.woff') format('woff'),
        url('SuisseIntl-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l';
    src: url('SuisseIntl-RegularItalic.woff2') format('woff2'),
        url('SuisseIntl-RegularItalic.woff') format('woff'),
        url('SuisseIntl-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l';
    src: url('SuisseIntl-Regular.woff2') format('woff2'),
        url('SuisseIntl-Regular.woff') format('woff'),
        url('SuisseIntl-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
    font-family: sans-serif, helvetica;
}


.container-fluid.full {
    padding-right: 0px;
    padding-left: 0px;
}


.carousel-caption {
    left: 0%;
    top: 5%;
    width: 100%;
    height: 100%;
}

.img-hero {
    position: relative;
    display: inline-block;
    line-height: 00px;
}

.img-hero p {
    font-family: Lausanne, helvetica;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0%;
    right: 0%;
    top: 94%;
    /* Adjust this value to move the positioned div up and down */
    text-align: left;
    color: white;
    width: 95%;
    /* Set the width of the positioned div */
    font-size: 1.5vw
}


.img-hero h2 {
    font-family: Ogg, arial;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0%;
    right: 0;
    top: 4%;
    /* Adjust this value to move the positioned div up and down */
    text-align: left;
    width: 95%;
    /* Set the width of the positioned div */
    color: white;
    font-size: 3vw
}

.img-hero h3 {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0%;
    right: 0;
    top: 42%;
    text-align: center;
    width: 86%;
    color: white;
}

.img-cap {
    margin: 0vw 2vw 0vw 2vw;
    padding: 0.9vw 0vw 1vw 0vw;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 1px 0px;
    font-family: Lausanne, arial;
    font-size: 0.9rem;
}

.border-home {
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 0px 0px;
    margin-bottom: 6vw;
}

h3 {
    font-family: Lausanne, arial;
    font-size: 3.5vw;
    line-height: 5vw
}


h3 span {
    font-family: Ogg, arial;
    font-size: 3.1rem
}

/*big title on home page*/
.tagline {
    font-size: 10vw;
    line-height: 15vw;
    font-family: Ogg, arial;
}

.row.home-top {
    margin: 2% 0 0 0;
}

.bio,
.menu {
    font-family: Lausanne, arial;
    font-size: 1.9rem;
    line-height: 2.4rem;

}



.bio-info {
    font-family: Ogg, arial;
    font-size: 2.4rem
}

.bio span {
    font-family: Lausanne, arial;
    font-size: 1.9rem
}

.bio-info span {
    font-family: Lausanne, arial;
    font-size: 2.2rem
}

.tagline-info {
    font-size: 8vw;
    line-height: 10vw;
}

h3.bio {
    margin-bottom: 1rem;
}

h3.bio a {
    color: black;
    text-decoration: underline;
}

.menu {
    color: black;
    font-family: Lausanne, arial;
}

.menu.menu-inactive {
    color: lightgrey;
}

.menu.menu-active {
    text-decoration: underline;
}

.end-page {
    height: 10vw;
}

.bg-light {
    background-color: none;
}

.project-title {}



.display-title1 {
    font-size: 4.2rem;
    font-weight: 400;
    margin-top: 2vw;
    margin-bottom: 4vw;
    padding-left: 30px;
}

.display-title1,
.text1,
.text2,
.display-title3,
.text3 {
    padding-left: 2.6vw;
    padding-right: 2.6vw;
}

.display-title1 span {
    font-size: 4.6rem;
    font-family: Ogg, arial;
}

.display-title2 {
    font-size: 10rem;
    font-family: Lausanne, arial;
    line-height: 12rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.display-title3 {
    font-size: 1.8vw;
    margin-top: 2rem;
    margin-bottom: 0.5rem;

}

.display-title4 {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    font-size: 4rem;
}


.text1 {
    font-size: 1.8rem;
    margin-bottom: 4vw;
    padding: 0;
}

.text2,
ul li,
ol li {
    font-size: 1.3rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}

.text1 span,
.text3 span {
    text-decoration: underline;
    font-family: Lausanne, arial;
    color: black;
}

.text3 span {
    line-height: 2
}

.text1 a {
    color: black;
}

.blockquote,
blockquote {
    text-decoration: underline;
}


.display-title1 span {
    font-size: 3.8rem;
    font-family: Ogg, arial;
}


video {
    margin: 0;
}

img {
    margin: 0;
}

/* home */

.display-title4 {
    font-size: vw;
    color: black;
    font-family: Lausanne, arial;


}

.text4 {
    margin-bottom: 0;
    font-size: 1.5rem;
    letter-spacing: 0.01px;
    line-height: 2.1rem;
    color: black;
    padding-left: 2vw;
    font-family: Lausanne, arial;

}

.text5 {
    margin-bottom: 0;
    color: black;
}

.gray-black {
    background-color: #1B1B1B;
}


a:hover {
    text-decoration: none;
    color: darkgrey;

}

.opacity {
    opacity: 0.1;
}


body {
    background-color: ;
}

p a {
    text-decoration: underline;
}

/* #### target mobile devices with max device width 480px #### */

/* #### target mobile devices with max device width 480px #### */
@media (min-width: 20rem) {

    font-size: 10%;

    /* some css here */
    .text1 {
        font-size: 1.6rem
    }

    .display-title2 {
        font-size: 6rem;
        line-height: 7rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .display-title1 {
        font-size: 3.4rem;
        line-height: 4rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }

    .display-title4 {
        font-size: 3rem;
        padding-left: 5vw;
        margin-bottom: 1vw;
    }

    .text4 {
        font-size: 1.8rem;
        padding-left: 5vw;
    }

    .text5 {
        padding-left: 5vw;
    }
}



em {
    font-size: 1rem;
    vertical-align: top;
    font-style: normal;
}

.list,
.list-ordered {
    padding-left: 6rem;
}

.list bold {
    font-weight: 700;
}

/* new website*/
.proj-title2-new {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    color: white;
    font-family: 'Suisse Int\'l';
    font-weight: 500;
    font-style: normal;
    z-index: 2;
}

/* new website*/


/* it's just styling the container */
.top-proj-container {
    position: relative;
    text-align: center;
}



h2.title1-new span {
    font-size: 3rem;
    font-family: 'Suisse Int\'l';
    font-weight: 500;
    font-style: normal;
    margin-right: 50px;

}

.border-top-bottom {
    border-top: 1px solid black;
    border-bottom: 1px solid black;


}


/* big title for sections */
.title1-new {
    font-size: 6rem;
    font-family: 'Suisse Int\'l';
    font-weight: normal;
    font-style: normal;
    padding: 2rem 0 1rem 0;
    margin: 0;
    line-height: 6.5rem
}


/* bigger titles text */
.title2-new {
    font-size: 3rem;
    font-family: 'Suisse Int\'l';
    font-weight: 500;
    font-style: normal;
    margin-top: -1rem;
    ;
    margin-bottom: 1.2rem;
    line-height: 3.9rem;
}

/* bold titles */
.title3-new {
    font-size: 1.1rem;
    font-family: 'Suisse Int\'l';
    font-weight: bold;
    font-style: normal;
    margin-bottom: 1rem;
    line-height: 1.6rem;
}

/* not-bold and thiner titles */
.title4-new {
    font-size: 1.4rem;
    font-family: 'Suisse Int\'l';
    font-weight: 500;
    font-style: normal;
    margin-bottom: 2rem;
}

/* first paragraph */
.text1-new {
    font-size: 1.4rem;
    font-family: 'Suisse Int\'l';
    font-weight: 500;
    font-style: normal;
    line-height: 2.1rem;
    margin-bottom: 2rem;

}

.text1-new span {
    font-family: 'Suisse Int\'l';
    font-weight: normal;
    font-style: italic;
}


/* text body */
.text2-new {
    font-size: 1.1rem;
    font-family: 'Suisse Int\'l';
    font-weight: 500;
    font-style: normal;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}

.extra-lh {
    line-height: 2rem;
}

/* text body */
.text2-new span {
    font-size: 1.1rem;
    font-family: 'Suisse Int\'l';
    font-weight: normal;
    font-style: italic;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}

ul.bullet-new,
ul.list-new,
ul.list-new {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Suisse Int\'l';
    font-weight: normal;
    font-style: normal;
    margin-bottom: 2.5rem;

}

ul.bullet-new li,
ul.list-new li,
ol.list-new li {
    background: url("/img/bullet.svg") no-repeat top left;
    background-position: 0 0px;
    padding: 0rem 0px 0px 50px;
    margin-top: -4px;
    font-size: 1.4rem;
    font-family: 'Suisse Int\'l';
    font-weight: normal;
    font-style: normal;
    line-height: 2.2rem;
    margin: 0 0px 0px 0px;
}

ul.list-new.home li {
    font-size: 1.8rem;
}

ul.bullet-new li {
    margin-bottom: 1.2rem
}


ul li span,
ol li span {
    font-family: 'Suisse Int\'l';
    font-weight: normal;
    font-style: italic;
    line-height: 2.2rem
}

.italic {
    font-family: 'Suisse Int\'l';
    font-weight: normal;
    font-style: italic;
}

ul.list-new li,
ol.list-new li {
    background: none;
    padding-left: 0;
    padding-bottom: 1.2rem;
    padding-top: 1rem;
    border-bottom: 1px solid black;
}

.link-text {
    color: #212529;
}

ul.home li a {
    color: white;
}

ul li a {
    color: black;
}


ul li a:hover {
    text-decoration: underline;
}

ul.list-new li.b-white,
ol.list-new li.b-white {
    border-bottom: 1px solid white;
}

ul.list-new li:first-child,
ol.list-new li:first-child {
    padding-top: 0px;
}

ul.list-new li:last-child,
ol.list-new li:last-child {
    border-bottom: 0px solid black;
}


ol.list-new {
    background: none;
    padding-left: 0px;
    padding-bottom: 2rem;
    margin: 0px 0px 0px 0px;
}

ol.list-new li {
    list-style-position: inside;

}

ul.bullet-new li.first-list,
ul.list-new li.first-list,
ol.list-new li.first-list {
    margin-top: -1rem;

}

.img-gradient {
    position: relative;
    display: inline-block;
}


/* 
#002f4b,#dc4225 
Convert HEX to RGBA - http://hex2rgba.devoth.com/
*/
.img-gradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

.img-gradient img,
.img-gradient {
    display: block;
}

.bg-true-black {
    background-color: black
}

.bg-gray-black {
    background-color: #181818;
}

.bg-light-gray {
    background-color: azure;
}

.bg-purple-light {
    background-color: #5738AF;
}

.bg-purple-light-alt {
    background-color: #5436A7;
}

.bg-taxonomy {
    background-color: #F6F6F6
}

.bg-purple-blue {
    background-color: #CBCEE3;
}

.bg-purple-dark {
    background-color: #1D0955;
}

.bg-gray {
    background-color: #262626;
}

.bg-tWizResearch {
    background-color: #8E99FF
}


.text-white {
    color: white;
}

.img-proj-new {
    margin: 0;
}

.section-division {
    margin: 2.5rem 0 5rem 0
}

.mt-6 {
    margin-top: 6rem;
}

.mt-7 {
    margin-top: 7rem;
}

.mb-6 {
    margin-bottom: 6rem;
}

.mb-7 {
    margin-bottom: 7rem;
}

.pt-6 {
    padding-top: 6rem;
}

.pt-7 {
    padding-top: 7rem;
}

.pb-6 {
    padding-bottom: 6rem;
}

.pb-7 {
    padding-bottom: 7rem;
}

.pl-7 {
    padding-left: 7rem;
}

.pr-7 {
    padding-right: 7rem;
}

.no-margin {
    margin-bottom: 0;
}

.figure-caption {
    font-family: 'Suisse Int\'l';
    font-weight: normal;
    font-style: normal;
    font-size: 0.8rem;

    color: black;
    margin-top: 1rem;
}

.img-caption-onTop {
    position: relative;
}

.figure-caption-top {
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    color: white;
    font-family: 'Suisse Int\'l';
    font-weight: normal;
    font-style: normal;
    font-size: 0.8rem;
    padding-left: 1rem
}

.no-margin-top {
    margin-top: 0
}

.no-margin-bottom {
    margin-bottom: 0
}

.grid-container-text {
    position: relative;
    border-radius: 10px;
    overflow: hidden
}

.grid-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.5s ease-in;
    background-color: #000;
    color: white;
}

.grid-container-text:hover .grid-container {
    opacity: 0.8;
}

.grid-container .client {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    opacity: 1;
    color: white;
    z-index: 2;

}

.grid-container .tags {
    position: absolute;
    bottom: 1.8rem;
    left: 2rem;
    font-family: 'Suisse Int\'l';
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}

.grid-container .tags span {
    border: 1px solid white;
    border-radius: 15px;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    margin-right: 0.6rem
}

.grid-container .proj-title-grid {
    position: absolute;
    top: 3.5rem;
    left: 2rem;
}

.grid-container .proj-description {
    position: absolute;
    bottom: 3.5rem;
    left: 2rem;
    padding-right: 4rem;
    margin-bottom: 0;
}

.case-study {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0;

}

.case-study a {
    text-decoration: none;
    color: white;
}

@media (max-width: 576px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 991.98px) {
    html {
        font-size: 55%;
    }
}

body,
html {
    margin: 0;
    height: 100%;
    font-Family: Arial;
}

.video-container {
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.video-container video {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}

.text-video-entry {
    position: absolute;
    color: white;
    bottom: ;
    z-index: 2;
    padding-left: 3rem;
    padding-right: 3rem;
}

.gradient-video {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 98%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 98%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
    width: 100%;
    height: 100%;
    min-height: 600px;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.text-video-entry p {
    position: relative;
    color: white;
    z-index: 2;
}

.navbar {
    color: white;
    position: absolute;
    top: 1rem;
    z-index: 4;
}

.navbar a {
    color: white;
}

.menu.gray {
    color: #C1C1C1;
}

.navbar.internal a {
    color: white;
}

.dont-show {
    display: none;
}

.border-home-services {
    border-bottom: 1px solid white;
}

.border-bottom-c {
    border-bottom: 1px solid black;
}

.border-home-services-top {
    border-top: 1px solid white;
    margin-bottom: 0;
    padding-bottom: 0;
}

p.round-list,
h3.round-list {
    border: 1px solid white;
    color: white;
    border-radius: 60px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin: -5px 1rem 1rem 0rem;
    float: left;

}

.b-left {
    border-left: 0px solid white;
}

h3.skill {
    float: none;

}

.text1-new video {
    width: rem;
    padding-top: 1.2rem;
    margin: 0rem 1rem 0rem 0rem;
    display: inline;
    opacity: 0.2;

}

/* #### target mobile devices with max device width 480px #### */

.mt-large {
    margin-top: 14rem;
}

@font-face {
    font-family: 'suisse-regular';
    src: url('SuisseIntl-Regular.woff2') format('woff2'),
        url('SuisseIntl-Regular.woff') format('woff'),
        url('SuisseIntl-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: block;

}

@font-face {
    font-family: 'steinbeck';
    src: url('Steinbeck-Regular.woff2') format('woff2'),
        url('Steinbeck-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.projDescNew,
.introNew, h4.projNameNew {
    margin: 0px;
    padding: 0px;
    font-family: 'suisse-regular';
    text-rendering: geometricPrecision;
    font-style: normal;
    margin-bottom: 2.5rem;
    font-size: 1.3rem;
    color: #fff;


}

.projDescNew {
    line-height: 1.6rem
}


h4.comNameNew,
h2.categoryNew {
    font-family: 'steinbeck';
    text-rendering: geometricPrecision;
    font-size: 2.5rem;
    font-style: normal;
    color: #fff;
}

h4.projNameNew {
    font-size: 2.5rem;
    margin-bottom: 0;
}

h4.comNameNew {
    color: #767676;

}

p.introNew {
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: lighter;
    text-rendering: geometricPrecision;
}

a.menuNew {
    font-size: 2rem;
    text-rendering: geometricPrecision;

}

a.menuNew.black {
    color: black;
}

/* #### case study home #### */
h4.caseStudyTitle {
    color: white;
    font-family: 'steinbeck';
    text-rendering: geometricPrecision;
    font-weight: 100;
    letter-spacing: -0.01rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

h4.caseStudyCom,
h4.caseStudyCall a {
    color: white;
    font-family: 'suisse-regular';
    text-rendering: geometricPrecision;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-rendering: geometricPrecision;
    color: #767676;
}

h4.caseStudyCall a {
    font-size: 1.4rem;
    color: white;
}

h4.caseStudyCom a:hover {
    text-decoration: underline;
}

h2.titleCategoryTop {
    font-family: 'suisse-regular';
    text-rendering: geometricPrecision;
    font-size: 10vw;
    color: white;

}



img.arrowNew {
    width: 03%;
    margin-left: 0.6rem;

}

/* #### case study styles #### */

h1.heading-1 {
    margin-top: 9.75rem;
    margin-bottom: 2.5rem;
    font-family: 'suisse-regular';
    text-rendering: geometricPrecision;
    font-size: 5rem;
}

h2.heading-2 {
    margin-bottom: 6.25rem;
    font-size: 2.5rem;
    font-family: 'steinbeck';
    text-rendering: geometricPrecision;
    
}

h3.heading-3 {
    margin-top: 6.25rem;
    margin-bottom: 0.625rem;
    font-size: 3.75rem;
    font-family: 'suisse-regular';
    text-rendering: geometricPrecision;
}

h4.heading-4 {
    margin-top: 2.5rem;
    margin-bottom: 0rem;
    font-size: 1.6rem;
    font-family: 'steinbeck';
    text-rendering: geometricPrecision;
}

dl dt {
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
    font-family: 'suisse-regular';
    text-rendering: geometricPrecision;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
    margin-top: 2rem;
}

dl dd {
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
    font-family: 'suisse-regular';
    text-rendering: geometricPrecision;
    font-style: normal;
    font-size: 1.15rem;
}


p.copy-cs {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 1.15rem;
    font-family: 'suisse-regular';
    text-rendering: geometricPrecision;
}

h5.heading-5 {
    margin-top: 0;
    margin-bottom: 2.5rem;
    font-size: 1.6rem;
    font-family: 'steinbeck';
    text-rendering: geometricPrecision;

}

blockquote.quote-cs {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    font-size: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    line-height: 2.9rem;
    font-family: 'steinbeck';
    text-rendering: geometricPrecision;
    text-decoration: none;
}

/* #### regular img pattern #### */
.img-cs {
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
}

video.video-reset {
    margin: 0;
    padding: 0;
}

/* #### use when video is on top #### */
.img-after-vid {
    margin-bottom: 1.25rem;
    margin-top: -0.5rem;
    padding-top: 0rem;
}

/* #### use when image is bellow image #### */
.img-grid {
    margin-top: 0rem;
    margin-bottom: 1.25rem;

}

.snap-scroll {
    position: relative;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-align: center;
    z-index: 1;
}

.child {
    position: absolute;
    left: 1px;
    bottom: 1px;
    text-align: left;
}

.bottomTitle {
    font-size: 7rem;
    color: white;
    font-size: 9.4vw;
    letter-spacing: -0.4rem;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
}

.blur-home {
    width: 50vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(60px);

}