:root {
  /* Padding Tokens */
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 56px;
  --spacing-2xl: 64px;
  --spacing-3xl: 80px;
  --spacing-4xl: 104px;
  --spacing-5xl: 148px;

} 

