/* /////// old css from old file //*/

@font-face {
    font-family: 'GT America Regular';
    src: url('GTAmerica-Regular.woff2') format('woff2'),
        url('GTAmerica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Medium Italic';
    src: url('GTAmerica-MediumItalic.woff2') format('woff2'),
        url('GTAmerica-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'GT America Medium';
    src: url('GTAmerica-Medium.woff2') format('woff2'),
        url('GTAmerica-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Bold';
    src: url('GTAmerica-Bold.woff2') format('woff2'),
        url('GTAmerica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.carousel {
    position: relative;
    margin: 0;
    padding: 0;
    /*order-bottom: 4px solid black;*/

}


.gray-col {
    background-color: #F1F1F0;
}


.proj-desc {
    font-family: 'GT America Extended';
    padding-left: 4vw;
    padding-right: 2vw;
}

.proj-subtext {
    font-family: 'GT America Expanded';
    padding-top: 1vw;
    padding-left: 4vw;
    padding-right: 2vw;
}

.proj-desc,
.proj-subtext {
    font-size: 1.6rem;
}

.proj-desc.right,
.proj-subtext.right {
    padding-left: 1vw;
}

.vertical-menu {
    transform: rotate(90deg);
    position: fixed;
    transform-origin: top left;
    margin-left: 3vw;
    padding-bottom: 1vw;
    color: #000;
    z-index: 1;
    width: 100vh;
    /*border-top: 1px solid black;
    /*background-image: linear-gradient(to top, gray , white);*/
}

.vertical-menu a {
    margin-right: 4.1vw;
    color: #000;
    font-size: 2.9vw;
    font-family: 'GT America Extended', arial;
}

.vertical-menu .active {
    margin-left: 1.4vw;
}

.big-title {
    margin: 0;
    font-size: 15vw;
    text-align: left;
    color: black;
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #838383;
    font-family: GTCinetypeLight, arial;
    line-height: 15vw;
    text-transform: uppercase;
    z-index: 2;
}

.title-scroll,
.title-scroll-category,
.title-scroll-category-last,
.btn,
.btn-primary {
    font-size: 3.0vw;
    text-align: left;
    color: black;
    font-family: 'GT America Medium', arial;
    z-index: 2;
    font-weight: bold;
    margin-top: 0.6vw;
    text-transform: uppercase;

}

a.title-scroll-category:hover ,a.title-scroll-category-last:hover, a.title-scroll-category.active {
    text-decoration: none;
    font-family: 'GT America Medium Italic', arial;
    color: black;
}



.grow p {
    font-family: 'GT America Regular', arial;
    font-size: 1.8vw;
}

.title-scroll-category-last {
    display: block;
    text-align: right;
    margin: 0;
}

a.project-wraper:hover {
    cursor: s-resize;
}

.title-scroll {
    padding-left: 2vw
}



.title-scroll-category {}

.small-thumb {
    width: 100px;
}

.title-scroll.para {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 2vw;
    text-transform: capitalize;
    display: none;
}

.title-scroll:hover > .title-scroll.para {
    display: block;
}

.video_auto {
    right: 0;
    bottom: 0;
    width: 900px;
}

.ui-img {
    width: 600px;
}

///////////////////////

/* You can alter this CSS in order to give Smooth Div Scroll your own look'n'feel */

/* Invisible left hotspot */
div.scrollingHotSpotLeft {
    /* The hotspots have a minimum width of 100 pixels and if there is room the will grow
    and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
    min-width: 75px;
    width: 10%;
    height: 100%;
    /* There is a big background image and it's used to solve some problems I experienced
    in Internet Explorer 6. */
    background-image: url(../images/big_transparent.gif);
    background-repeat: repeat;
    background-position: center center;
    position: absolute;
    z-index: 200;
    left: 0;
    /*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
    cursor: url(../images/cursors/cursor_arrow_left.png), url(../images/cursors/cursor_arrow_left.cur), w-resize;
}

/* Visible left hotspot */
div.scrollingHotSpotLeftVisible {
    background-image: url(../images/arrow_left.gif);
    background-color: #fff;
    background-repeat: no-repeat;
    opacity: 0.35;
    /* Standard CSS3 opacity setting */
    -moz-opacity: 0.35;
    /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
    filter: alpha(opacity=35);
    /* Opacity for Internet Explorer. */
    zoom: 1;
    /* Trigger "hasLayout" in Internet Explorer 6 or older versions */
}

/* Invisible right hotspot */
div.scrollingHotSpotRight {
    min-width: 75px;
    width: 10%;
    height: 100%;
    background-image: url(../images/big_transparent.gif);
    background-repeat: repeat;
    background-position: center center;
    position: absolute;
    z-index: 200;
    right: 0;
    cursor: url(../images/cursors/cursor_arrow_right.png), url(../images/cursors/cursor_arrow_right.cur), e-resize;
}

/* Visible right hotspot */
div.scrollingHotSpotRightVisible {
    background-image: url(../images/arrow_right.gif);
    background-color: #fff;
    background-repeat: no-repeat;
    opacity: 0.35;
    filter: alpha(opacity=35);
    -moz-opacity: 0.35;
    zoom: 1;
}

/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.

/* these two classes might need to be reincluded in case there's bugs*/
div.scrollWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* these two classes might need to be reincluded in case there's bugs*/
div.scrollableArea {
    position: relative;
    width: auto;
    height: 100%;
}

/* any other img heigh controls how image inside the carousel scale */
.scrrollDiv img,
.scrrollDiv video {
    height: 50vw;
}

/* ui img that needs a shorter width*/
img.ui-img {
    width: 600px;
}

.small-img {
    width: 50%;
    height: 50%;
}



.proj-desc2 {
    font-family: 'GT America Extended';
    text-decoration: none;
    color: black;
}

.project-wraper:hover {
    text-decoration: none;
}

/*cuts the images*/
.scrrollDiv {
    width: 100%;
    height: 60vw;
    position: relative;
    margin-top: 2vw;
    padding-bottom: 50px;
}

/*used margin bottom to hide the videos*/
.scrrollDiv img,
.scrrollDiv video,
.scrrollDiv iframe,
.scrrollDiv p {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    padding-right: 80px;

    /* If you don't want the images in the scroller to be selectable, try the following
			   block of code. It's just a nice feature that prevent the images from
			   accidentally becoming selected/inverted when the user interacts with the scroller. */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.grow {
    height: 6.4vw;
    position: relative;
    transition: height 0.9s;
    -webkit-transition: height 1.2s;
    text-align: left;
    display: block;
    transition-delay: 0.2s;
    overflow: hidden;
}

.grow .line {
    border-top: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0.6vw;
}

.grow .line2 {
    border-top: 0px solid black;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0.6vw;
}

.grow:hover {
    height: 58vw;
}


.scrrollDiv.about {
    filter: blur(15px);
}

////////////

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 200px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 1s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.activeAcc,
.accordion:hover {
    background-color: #ccc;
    height: 200px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: block;
    overflow: hidden;
}

iframe {
    width: 600px;
    height: 300px;
}

/* overlay on top of video */
.proj-desc2.overlay-about {
    position: absolute;
    top: 5.5vw;
    left: 0;
    right: 0;
    bottom: 0;
    width: 96%;
    height: 50vw;
    color: black;
    z-index: 1;
    margin-left: 18px;
    margin-right: 20px;
}

.grew.grow {
    height: 56vw;

}

.grew.line {
    height: 0;
    margin: 0;
    padding: 0;
}

.grow.about-long {
    height: auto;
}

.grow.about-long p {
    
}

/*any other img heigh controls how image inside the carousel scale*/


.scrrollDiv.about {
    width: 100%;
    height: 50vw;
    position: relative;
    margin-top: 0vw;
    padding-bottom: 50px;
    opacity: ;
}

.scrrollDiv.about video {
    height: 80vw;
    
}

/* main type for the area*/
p.about-subtitle {
    font-size: 5.0vw;
    font-weight: bold;
    font-family: 'GT America Medium';
    text-transform: uppercase;
    text-align: center;

}

p a {
    color: black;
    text-decoration: underline;
}

p a:hover {
    color: #484848;
    text-decoration: underline;
}

.about-subtitle span {
    font-family: 'GT America Medium';
}

.about-subtitle span.last-word {
    text-align: right;
}

/* shadow */
.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
